:root {
  --green: #84f384;
  --white: #FFFFFF;
  --black: #111111;
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --decoration: var(--black)
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --decoration: var(--green)
}

body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}
.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid var(--decoration);
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
